/apiservices/MSS.Platform.Workflow.WebApi/obj
/apiservices/MSS.Platform.Workflow.WebApi/bin
/apiservices/MSS.Platform.Workflow.WebApi/.vs
/apiservices/MSS.Platform.Workflow.WebApi/*.user
node_modules
/frontend/MSS.UI.H5/dist
/frontend/desktop.ini
